/* Media query for mobile phones */
@media screen and (max-width: 600px) {
/* Navbar CSS  */
nav{
	height:60px;
}
nav a img{
	scale:1.2;
}
#icon{
	display:block;
}

#nav-li{
	display:none;
}
/* Left Div CSS  */
.left-div{
	background:#f0f0f0;
	width:60%;
	position: fixed;
	top: 90px; 
	bottom: 0; 
	z-index:90;
}
#left-div-head{
	margin:15px 0 5px 20px;
	font-weight:200;
}
.right-div{
	height:100%;
	margin-left:0;
	width:100%;	
}
/* Style the navigation menu */
.topic {
	 /* or overflow-x: scroll; */
	background-color: #333;
	top: 60px;
	position: sticky;
}

.topic ul li a:hover{
	background:black;
	height:30px;
}

.left-div{
	display:none;
}
.selected{
	background:#FFF4A3;
	border:1px solid grey;
}
.selected2{
	background:rgba(255, 244, 163, 1);
	text-shadow:0px 0px 3px black;
}
footer{
	background-image: url('background.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover;
	height:800px;
	margin-bottom:0;
	padding-top:760px;
}
footer p{
	background:#fff4a3;
	text-align:center;
	font-weight:660;
	font-family:"Segoe UI", Arial, sans-serif;
	height:40px;
	padding-top:5px;
	box-shadow: 0px -15px 15px rgba(244, 244, 244, 0.5);
}
		
		
}